In [1]:
from pyspark.sql import SQLContext

In [2]:
sqlsc = SQLContext(sc)

In [3]:
df = sqlsc.read.format("jdbc") \
  .option("url", "jdbc:postgresql://localhost/cloudera?user=cloudera") \
  .option("dbtable", "gameclicks") \
  .load()

In [5]:
df.head()

Row(timestamp=datetime.datetime(2016, 5, 26, 15, 6, 55), clickid=105, userid=1038, usersessionid=5916, ishit=0, teamid=25, teamlevel=1)

In [6]:
df.printSchema()

root
 |-- timestamp: timestamp (nullable = false)
 |-- clickid: integer (nullable = false)
 |-- userid: integer (nullable = false)
 |-- usersessionid: integer (nullable = false)
 |-- ishit: integer (nullable = false)
 |-- teamid: integer (nullable = false)
 |-- teamlevel: integer (nullable = false)

In [7]:
df.count()

755806

In [8]:
df.show()

+--------------------+-------+------+-------------+-----+------+---------+
|           timestamp|clickid|userid|usersessionid|ishit|teamid|teamlevel|
+--------------------+-------+------+-------------+-----+------+---------+
|2016-05-26 15:06:...|    105|  1038|         5916|    0|    25|        1|
|2016-05-26 15:07:...|    154|  1099|         5898|    0|    44|        1|
|2016-05-26 15:07:...|    229|   899|         5757|    0|    71|        1|
|2016-05-26 15:07:...|    322|  2197|         5854|    0|    99|        1|
|2016-05-26 15:07:...|     22|  1362|         5739|    0|    13|        1|
|2016-05-26 15:07:...|    107|  1071|         5939|    0|    27|        1|
|2016-05-26 15:07:...|    289|  2359|         5764|    0|    85|        1|
|2016-05-26 15:07:...|    301|  1243|         5900|    0|    86|        1|
|2016-05-26 15:07:...|    274|  1628|         5896|    0|    82|        1|
|2016-05-26 15:07:...|     66|   453|         5662|    0|    20|        1|
|2016-05-26 15:07:...|    124|  2336|         5761|    0|    32|        1|
|2016-05-26 15:07:...|    204|  1664|         5831|    0|    69|        1|
|2016-05-26 15:07:...|    162|   243|         5943|    0|    54|        1|
|2016-05-26 15:08:...|    308|  2333|         5701|    0|    90|        1|
|2016-05-26 15:08:...|    160|   181|         5787|    0|    53|        1|
|2016-05-26 15:08:...|    183|   212|         5756|    0|    63|        1|
|2016-05-26 15:08:...|    314|  1142|         5871|    0|    93|        1|
|2016-05-26 15:08:...|    171|  1085|         5882|    0|    61|        1|
|2016-05-26 15:08:...|     67|  1215|         5905|    0|    20|        1|
|2016-05-26 15:08:...|    332|  2306|         5783|    0|   100|        1|
+--------------------+-------+------+-------------+-----+------+---------+
only showing top 20 rows

In [10]:
df.select("userid","teamlevel").show(5)

+------+---------+
|userid|teamlevel|
+------+---------+
|  1038|        1|
|  1099|        1|
|   899|        1|
|  2197|        1|
|  1362|        1|
+------+---------+
only showing top 5 rows

In [11]:
df.filter(df["teamlevel"]>1).select("userid","teamlevel").show(5)

+------+---------+
|userid|teamlevel|
+------+---------+
|  1513|        2|
|   868|        2|
|  1453|        2|
|  1282|        2|
|  1473|        2|
+------+---------+
only showing top 5 rows

In [12]:
df.groupBy("ishit").count().show(5)

+-----+------+
|ishit| count|
+-----+------+
|    0|672423|
|    1| 83383|
+-----+------+

In [13]:
from pyspark.sql.functions import *
df.select(mean("ishit"), sum("ishit")).show(5)

+------------------+----------+
|        avg(ishit)|sum(ishit)|
+------------------+----------+
|0.1103232840173272|     83383|
+------------------+----------+

# AdClick Table

In [14]:
df2 = sqlsc.read.format("jdbc") \
  .option("url", "jdbc:postgresql://localhost/cloudera?user=cloudera") \
  .option("dbtable", "adclicks") \
  .load()

In [15]:
df2.printSchema()

root
 |-- timestamp: timestamp (nullable = false)
 |-- txid: integer (nullable = false)
 |-- usersessionid: integer (nullable = false)
 |-- teamid: integer (nullable = false)
 |-- userid: integer (nullable = false)
 |-- adid: integer (nullable = false)
 |-- adcategory: string (nullable = false)

In [16]:
merge = df.join(df2, "userid")

In [17]:
merge.printSchema()

root
 |-- userid: integer (nullable = false)
 |-- timestamp: timestamp (nullable = false)
 |-- clickid: integer (nullable = false)
 |-- usersessionid: integer (nullable = false)
 |-- ishit: integer (nullable = false)
 |-- teamid: integer (nullable = false)
 |-- teamlevel: integer (nullable = false)
 |-- timestamp: timestamp (nullable = false)
 |-- txid: integer (nullable = false)
 |-- usersessionid: integer (nullable = false)
 |-- teamid: integer (nullable = false)
 |-- adid: integer (nullable = false)
 |-- adcategory: string (nullable = false)

In [18]:
merge.show(5)

+------+--------------------+-------+-------------+-----+------+---------+--------------------+-----+-------------+------+----+----------+
|userid|           timestamp|clickid|usersessionid|ishit|teamid|teamlevel|           timestamp| txid|usersessionid|teamid|adid|adcategory|
+------+--------------------+-------+-------------+-----+------+---------+--------------------+-----+-------------+------+----+----------+
|   231|2016-06-08 00:45:...| 376796|        23626|    0|   142|        4|2016-06-08 01:40:...|23669|        23626|   142|  27|     games|
|   231|2016-06-08 00:45:...| 376796|        23626|    0|   142|        4|2016-06-08 09:24:...|24122|        23626|   142|   4|     games|
|   231|2016-06-08 00:45:...| 376796|        23626|    0|   142|        4|2016-06-08 17:21:...|24659|        23626|   142|  22| computers|
|   231|2016-06-08 00:45:...| 376796|        23626|    0|   142|        4|2016-06-08 23:34:...|25076|        23626|   142|  21|    movies|
|   231|2016-06-08 00:45:...| 376796|        23626|    0|   142|        4|2016-06-09 16:32:...|26220|        23626|   142|  16|  clothing|
+------+--------------------+-------+-------------+-----+------+---------+--------------------+-----+-------------+------+----+----------+
only showing top 5 rows